{% extends "base.html" %}

{% block extra_head_js %}
    <style>
        .table-container {
            width: 100%;
        }

        .form-horizontal .control-label {
            display: inline-block;
            font-size: 12px;
            text-align: right;
        }

        .form-horizontal .controls {
            display: inline-block;
            margin-left: 4px;
            padding-left: 4px;
        }

        #model-table {
            width: 100%;
            table-layout: fixed;
        }

        #model-table > thead * th {
            vertical-align: middle;
            horiz-align: center;
        }

        #model-table > thead * a {
            vertical-align: middle;
            horiz-align: center;
        }

        #model-table > tbody * {
            font-size: 14px;
        }

        #model-table thead tr th {
            border-top: 0 none;
        }

        #model-table thead tr.filter-row th {
            background-image: none;
        }

        #model-table thead tr th a {
            color: #333333;
        }

        #model-table td {
            padding: 10px 10px;
            cursor: pointer;
        }

        #model-table th {
            padding-right: 20px;
        }

        #model-table th input, #model-table th select {
            width: 100%;
        }

        #model-table tr td a {
            display: block;
            width: 100%;
            min-height: 20px;
        }

        #model-table tr td a:focus {
            outline: none;
        }

        #model-table tr td.no-underline a {
            text-decoration: none;
            color: #333333;
        }

        #model-table tr td a.no-underline {
            text-decoration: none;
            color: #333333;
        }

        #model-table .label {
            font-size: 12px;
            margin-right: 6px;
        }
    </style>
{% endblock extra_head_js %}
