.show_hide_table_spacing {
	padding-right: 20px;
}

.hide_me {
	height: 0px;
	width: 0px;
	border: none;
	padding: 0px;
}

.filter_drawer {
	display: none;
}

.some_space_below {
	margin-bottom: 10px;
}

.some_space_right {
	margin-right: 10px;
}

.form_spacing {
	margin: 0 0 0 0;
	margin-top: 10px;
	margin-bottom: 5px;
}

.label_spacing {
	margin: 5px 5px;
}

.form-horizontal .control-label {
	width: 160px;
	text-align: inherit;
}

.form-inline .form-group {
	vertical-align: top;
}

.form-inline .control-label {
	width: 150px;
}

.form-inline .form-control select {
	width: 220px;
}

.form-group-column1 {
	margin-right: 120px;
}

.form-group-column2 .control-label {
	width: 100px;
}

.form-hidden {
	height: 0px;
	width: 0px;
	margin: 0px;
}

.saved_filters {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	width: 600px;
}

.saved_filters table {
	display: inline-block;
	height: 200px;
	overflow: auto;
	margin-bottom: 0px;
}

.saved_filters table td:first-child {
	width: 600px;
}

.saved_filters table td:last-child {
	width: 5%;
}

.report_filter_table td:first-child {
	width: 200px;
}

.report_filter_table td:last-child {
	width: 25%;
}

.report_stats_table td:first-child {
	width: 200px;
}

.report_stats_table td:last-child {
	width: 25%;
}

.edit_axes {
	display: table-cell;
	vertical-align: middle;
}

.edit_axes_hidden {
	display: none;
}

.reports_page {
	display: table;
	width: 100%;
}

.reports_page .statistics {
	display: table-cell;
	width: 25%;
	vertical-align: top;
	top: 100px;
	position: fixed;
}

.reports_page .graphs {
	display: table-cell;
	width: 75%;
	vertical-align: middle;
}

.reports_page .graphs-table {
	display: table;
	width: 100%;
	height: 100%;
}

.reports_page .graphs .graphs-table .graph {
	display: table;
	width: 100%;
	height: 50%;
}

.graph .edit_graph {
	display: none;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.graph .graph-left {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

.graph .graph-right {
	width: 50%;
}

.graph-left .edit_graph {
	float: right;
}

.edit_axis_form_show {
	display: inline-block;
}

.edit_axis_btn_closed {
	float: right;
}

.axis_form input {
	margin-bottom: 0px;
}

.metrics_table thead th {
	position: relative;
}

.metrics_table thead th.sorting:after, .metrics_table thead th.sorting_asc:after,
	.metrics_table thead th.sorting_desc:after {
	position: absolute;
	top: 12px;
	right: 8px;
	display: block;
	font-family: FontAwesome;
}

.metrics_table thead th.sorting:after {
	content: "\f0dc";
	color: #ddd;
	font-size: 0.8em;
	padding-top: 0.12em;
}

.metrics_table thead th.sorting_asc:after {
	content: "\f0de";
}

.metrics_table thead th.sorting_desc:after {
	content: "\f0dd";
}

button:focus {outline:0 !important;}