{% extends "base.html" %}

{% block extra_head_css %}
    <style type="text/css">
        body {
            background-image: url("/static/img/inspector-magnifier.jpg");
            background-position: right top;
            background-size: 1200px;
            background-;
            background-repeat: no-repeat;
        }
        .info {
            width: 40%;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        .info p {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 4px;
            display: inline-block;
        }

        #footer {
            margin-top: 300px;
        }
    </style>
{% endblock extra_head_css %}

{% block content %}
<h1>Ion Inspector</h1>
<div class="clearfix" style="margin-top:20px;">
  <div class="info">
      <p>Ion Inspector is a simple customer support testing tool.  It automatically runs a battery of tests on a customer support archive and reports actionable information for any known issues, simple.</p>
      <p><a href="/upload">Submit an archive.</a></p>
      <p>If you ever inspect a support archive, you can write a simple testing script to automatically perform the repetitive parts of this analysis, scalable.</p>
      <p><a href="/documentation">Read test author documentation.</a></p>
      <br />
      <p>For more information on Ion Inspector visit the <a href="https://thermofisher.sharepoint.com/sites/collaboration/Ion-Torrent-Service-Support/Pages/Ion%20Inspector.aspx">iConnect page</a>.</p>
  </div>
</div>
{% endblock content %}
