{% extends "base.html" %}

{% block extra_head_css %}
    <style type="text/css">
        body {
            background-image: url("/static/img/inspector-magnifier.jpg");
            background-position: right top;
            background-size: 1200px;
            background-;
            background-repeat: no-repeat;
        }

        .info {
            width: 40%;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        .info p {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 4px;
            display: inline-block;
        }

        #footer {
            margin-top: 300px;
        }
    </style>
{% endblock extra_head_css %}

{% block content %}
    <h1>Ion Inspector</h1>
    <div class="clearfix" style="margin-top:20px;">
        <div class="info">
            <p>Ion Inspector is a simple customer support testing tool. It automatically runs a battery of tests on a
                customer support archive and reports actionable information for any known issues.</p>
            <p><a href="{% url 'upload' %}" class="btn btn-primary">Submit an archive »</a></p>
            <br/><br/>
            <p>For more information on Ion Inspector visit the <a
                    href="https://thermofisher.sharepoint.com/sites/collaboration/Ion-Torrent-Service-Support/Pages/Ion%20Inspector.aspx">iConnect
                page</a> or read the <a
                    href="https://thermofisher.sharepoint.com/sites/collaboration/Ion-Torrent-Service-Support/Documents/Ion%20Inspector%20User%20Guide.pdf">user
                guide</a>.</p>
        </div>
    </div>
{% endblock content %}
