{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block extra_head_js %}
    <style>
        .table-container{
            width: 100%;
            margin-top: 30px;
        }
        #archive_table {
            width: 100%;
        }
        #archive_table > thead * th{
            vertical-align: middle;
            horiz-align: center;
        }
        #archive_type > thead * a{
            vertical-align: middle;
            horiz-align: center;
        }
        #archive_table > thead * {

        }
        #archive_table > tbody * {
            font-size: 14px;
        }
        #archive_table thead tr th {
            border-top: 0 none;
            background-image: linear-gradient(to bottom, white, #EFEFEF);
        }
        #archive_table thead tr.filter-row th {
            background-image: none;
            background-color: #EEEEEE;
        }
        #archive_table thead tr th a{
            color: #333333;
        }
        #archive_table td {
            padding: 12px 8px;
            cursor: pointer;
        }
    </style>
{% endblock extra_head_js %}

{% block content %}
    <form id="search-form" action="{% url 'reports.views.reports' %}">
        {% render_table archives "tables/reports.html" %}
        <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true">
    </form>
    <script>
        var searchForm = $("#search-form");
        searchForm.find("select").change(function () {
            searchForm.submit();
        });
    </script>
{% endblock content %}