{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block extra_head_js %}
    <style>
        .table-container{
            width: 100%;
        }
        #archive_table {
            width: 100%;
        }
        #archive_table > thead * th{
            vertical-align: middle;
            horiz-align: center;
        }
        #archive_type > thead * a{
            vertical-align: middle;
            horiz-align: center;
        }
        #archive_table > thead * {

        }
        #archive_table > tbody * {
            font-size: 16px;
        }

    </style>
{% endblock extra_head_js %}

{% block content %}
        <form>
            <table style="width:100%">
                <tr>
                    <td>
                    <strong>Site:</strong><br>
                    <input title="Search by Site" class="search_text" type="text" name="site" value="{{site_search}}">
                    </td>
                    <td>
                    <strong>Submitter Name:</strong><br>
                    <input title="Search by Submitter Name" class="search_text" type="text" name="submitter_name" value="{{submitter_name_search}}">
                    </td>
                    <td>
                    <strong>Device Type:</strong><br>
                    <select  title="Search by Device Type" name="archive_type">
                        <option value="">-----</option>
                        {% for archive_type in archive_types %}
                            <option value="{{archive_type}}" {% if archive_type == archive_type_search %}selected{% endif %}>
                                {{archive_type}}
                            </option>
                        {% endfor %}
                    </select>
                    </td>
                    <td>
                    <strong>Identifer:</strong><br>
                    <input title="Search by Identifier" class="search_text" type="text" name="identifier" value="{{identifier_search}}">
                    </td>
                </tr>
            </table>
            <input type="submit" value="Filter">
        </form>
        {% render_table archives %}
{% endblock content %}