{% extends "base.html" %}
{% block extra_head_css %}
    <style>
        .row-fluid.pdf-row > div {
            text-align: center;
        }

        .row-fluid.pdf-row > div > a {
            margin-top: 10px;
        }

        @media (max-width: 1200px) {
            .row-fluid.pdf-row > div {
                display: block;
                float: none;
                width: 100%;
                margin-left: 0px;
                margin-bottom: 20px;
            }
        }
    </style>
{% endblock %}
{% load staticfiles %}
{% block content %}
    <div id="delete_prompt" class="row-fluid" style="display: none;">
        <div class="span12 alert alert-danger">
            <h2>Delete this upload forever?</h2>
            <button id="no_delete" class="btn btn-primary">Keep</button>
            <form method="post"
                  action="{% url 'api_dispatch_remove_archive' resource_name='Archive' api_name='v1' pk=archive.pk %}"
                  style="margin: 0 0 0 100px; display: inline">
                <button type="submit" class="btn">Delete Forever</button>
            </form>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h1 id="archive-identifier" data-value="{{ archive.identifier }}">{{ archive.identifier }}</h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <h3 id="archive-site" data-value="{{ archive.site }}">{{ archive.site }}</h3>
        </div>
        <div class="span3">
            <h3 id="archive-type" style="text-align: right"
                data-value="{{ archive.archive_type }}">{{ archive.get_archive_type_display }}</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <span class="muted" id="archive-summary" data-value="{{ archive.summary }}">{{ archive.summary }}</span>
        </div>
        <div class="span3">
            {% if archive.taser_ticket_number %}
                <span id="archive-taser" data-value="{{ archive.taser_ticket_number }}">
                    <a href="https://jira.amer.thermo.com/browse/FST-{{ archive.taser_ticket_number }}"
                       target="_blank">TASER: {{ archive.taser_ticket_number }}</a>
                </span>
            {% else %}
                <span id="archive-taser" class="muted" data-value=""></span>
            {% endif %}
        </div>
        <div class="span3">
            <p style="float: right;"><b>Uploaded by: </b><em>{{ archive.submitter_name }}</em><br />
            <b>Uploaded at: </b><em>{{ archive.time|date:'Y-m-d H:i e' }}</em><br />
            <b>Last Executed: </b><em>{{ start_time|date:'Y-m-d H:i e' }}</em></p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="form-actions">
                <div class="pull-left">
                    <a class="btn btn-success" href="/media/{{ archive.doc_file }}"><i class="icon-arrow-down icon-white"></i> Download Archive</a>
                    <a class="btn" href="/media/archive_files/{{ archive.pk }}/"><i class="icon-folder-open"></i> View Files</a>
                    <a class="btn" id="archive-edit"><i class="icon-edit"></i> Edit</a>
                    <button id="run-tests" class="btn"><i class="icon-repeat"></i> Re-run Tests</button>
                    {% if coverage_analysis_path %}
                        <a class="btn" href="{{ coverage_analysis_path }}"> View Coverage Analysis</a>
                    {% endif %}
                </div>
                <div class="pull-right">
                    <div id="category-chooser" style="display: none" class="btn-group" data-toggle="buttons-radio">
                        <button data-category="SEQ" type="button" class="btn active">Sequencing</button>
                        <button data-category="PRE" type="button" class="btn">Sample Prep</button>
                    </div>
                    <button id="ask_delete" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            {% include "partials/diagnostics.html" %}
        </div>
    </div>

    <div class="row-fluid pdf-row">
        {% if thumbnail_pdf_present %}
            <div id="run_report_thumbnail" class="span6 {% if not full_pdf_present %}offset3{% endif %}">
                <div class="pdf">
                    <object style="height: 1200px; width: 100%; display: block" type="application/pdf" data="/media/archive_files/{{ archive.id }}/report.pdf">
                        <p>Your browser does not support PDF display</p>
                    </object>
                </div>
                <a download href="/media/archive_files/{{ archive.id }}/report.pdf" class="btn btn-success">
                    <i class="icon-arrow-down icon-white"></i> Download Thumbnail Report
                </a>
            </div>
        {% endif %}
        {% if full_pdf_present %}
            <div id="run_report" class="span6 {% if not thumbnail_pdf_present %}offset3{% endif %}">
                <div id="pdf">
                    <object style="height: 1200px; width: 100%; display: block" type="application/pdf" data="/media/archive_files/{{ archive.id }}/full_report.pdf">
                        <p>Your browser does not support PDF display</p>
                    </object>
                </div>
                <a download href="/media/archive_files/{{ archive.id }}/full_report.pdf" class="btn btn-success">
                    <i class="icon-arrow-down icon-white"></i> Download Full Report
                </a>
            </div>
        {% endif %}
    </div>

    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/report-editor.js"></script>
    <script src="/static/js/diagnostics-table.js"></script>
    <script>
        Raven.context(function () {
            //Setup archive details editor
            reportEditorApp.init('{{ archive.pk }}', JSON.parse('{{ archive_type_choices_json|safe }}'));
            //Setup diagnostic table
            diagnosticsTableApp.init(
                '#diagnostics-table-template',
                JSON.parse({{ api_resource|safe }}),
                JSON.parse({{ diagnostic_category_choices_json|safe }}),
                JSON.parse({{ is_sequencer|safe }})
            );
            //Setup rerun test button
            $("#run-tests").click(function () {
                diagnosticsTableApp.setUnexecuted();
                $.ajax({
                    type: "POST",
                    url: "{% url 'api_dispatch_rerun_archive' resource_name='Archive' api_name='v1' pk=archive.pk %}",
                    success: function () {
                        diagnosticsTableApp.update();
                    }
                })
            });
            //Setup delete button
            $("#ask_delete").click(function () {
                $("#delete_prompt").slideDown();
            });
            $("#no_delete").click(function () {
                $("#delete_prompt").slideUp();
            });

        });
    </script>
{% endblock content %}