{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% block extra_head_js %}
    <script type="text/javascript" src="{% static 'js/bootstrap-typeahead.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/modernizr.custom.js'%}"></script>
    <script>
        if ( !Modernizr.xhr2 ) {
          window.location.href = "${request.route_url('old_browser')}";
        }
        $(function(){
            // Upload another button
            $("#upload-another").click(function () {
                $("input[name='upload_another']").val("yes");
                $('#new_archive').submit();
            });

          var sourcerer = function (field) {
            return function (query, process) {
              $.getJSON(
                "/api/v1/Archive/values/",
                {field: field, q: query},
                  function (response) {
                      return process(response.values)
                  }
              );
            };
          };
          $("#id_name").typeahead({source: sourcerer("submitter_name")});
          $("#id_site_name").typeahead({source: sourcerer("site")});

        });
    </script>
    <style type="text/css">
    #progress_bar {
      -webkit-transition: none;
         -moz-transition: none;
           -o-transition: none;
              transition: none;
    }
  </style>
{% endblock extra_head_js %}
{% block content %}
    <h1>Upload <small> a new archive for testing</small></h1>
    <div class="row">
        <div class="span6">
            <!-- Upload form. Note enctype attribute! -->
            <form id="new_archive" action="{% url "upload" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.upload_another }}
                <p>{{ form.non_field_errors }}</p>
                <div class="row">
                    <div class="span3">
                        <p>{{ form.name.label_tag }}</p>
                        {{ form.name }}
                    </div>
                    <div class="span3">
                        <p>{{ form.site_name.label_tag }}</p>
                        {{ form.site_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                      <p>{{ form.archive_identifier.label_tag }}</p>
                      {{ form.archive_identifier }}
                    </div>
                    <div class="span3">
                        <p>{{ form.archive_type.label_tag }}</p>
                        {{ form.archive_type }}
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <p>{{ form.taser_ticket_number.label_tag }}</p>
                        {{ form.taser_ticket_number }}
                    </div>
                </div>
                <div style="height: 60px;">
                    <div id="file_select">
                        <p>{{ form.doc_file.label_tag }} {{ form.doc_file.help_text }}</p>
                        <p>
                            {{ form.doc_file.errors }}
                            {{ form.doc_file }}
                        </p>
                    </div>
                </div>
                <div id="action_container">
                    <div class="form-actions">
                        <input type="submit" value="Upload Archive" class="btn btn-primary">
                        <input id="upload-another" type="button" value="Upload and Add Another" class="btn">
                        <button class="btn" type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="span6">
            <dl>
                <dt>Your Name</dt>
                <dd></dd>
                <dt>Site Name</dt>
                <dd>Must remain consistent for search functionality. ex) geneticDX and genetic DX will not be grouped the same.</dd>
                <dt>Archive Label</dt>
                <dd>Description of the run ex) Low Loading, High LQ, CEPH Control, Good Run.</dd>
                <dt>Archive Type</dt>
                <dd>Each has specific tests according to the CSA/log type.</dd>
                <dt>TASER Ticket Number</dt>
                <dd>Links runs to a TASER ticket. Enter 4-digit value following FST-. This can be edited after upload if ticket is created at a later time.</dd>
                <dt>Select File</dt>
                <dd>Choose a zipped CSA, FSA or log.</dd>
                <dt>Click Upload Archive</dt>
                <dd></dd>
            </dl>
        </div>
    </div>
{% endblock content %}