
{% if archive_type == "Valkyrie" %}
    {% verbatim %}
    <br><br>
    <div class="row-fluid">
        <div class="span6">
            <h2>Loading Density</h2>
            <img style="max-width: 500px" :src="results.Genexus_Lane_Activity ? results.Genexus_Lane_Activity.bead_image_url : ''"/>
        </div>
        <div class="span6">
            <h2>Summary</h2>
            <table class="table table-striped table-hover">
                <tr>
                    <td>Total Bases</td>
                    <td>{{ results.Genexus_Filter_Metrics ?
                        results.Genexus_Filter_Metrics.summary.total_bases.toLocaleString():"--" }}
                    </td>
                </tr>
            </table>
            <table class="table table-striped table-hover">
                <tr>
                    <td>Loading</td>
                    <td>{{ results.Genexus_Filter_Metrics ?
                        results.Genexus_Filter_Metrics.summary.loading_per.toLocaleString() + "%":"--" }}
                    </td>
                    <td>{{ results.Genexus_Filter_Metrics ?
                        results.Genexus_Filter_Metrics.summary.loading.toLocaleString():"--" }}
                    </td>
                </tr>
                <tr>
                    <td>Enrichment</td>
                    <td>{{ results.Genexus_Filter_Metrics ?
                        results.Genexus_Filter_Metrics.summary.enrichment_per.toLocaleString() + "%":"--" }}
                    </td>
                    <td>{{ results.Genexus_Filter_Metrics ?
                        results.Genexus_Filter_Metrics.summary.enrichment.toLocaleString():"--" }}
                    </td>
                </tr>
                <tr>
                    <td>Library</td>
                    <td>{{ results.Genexus_Filter_Metrics ?
                        results.Genexus_Filter_Metrics.summary.loading_per.toLocaleString() + "%":"--" }}
                    </td>
                    <td>{{ results.Genexus_Filter_Metrics ?
                        results.Genexus_Filter_Metrics.summary.loading.toLocaleString():"--" }}
                    </td>
                </tr>
                <tr>
                    <td>Final Reads</td>
                    <td>{{ results.Genexus_Filter_Metrics ?
                        results.Genexus_Filter_Metrics.summary.final_reads_per.toLocaleString() + "%":"--" }}
                    </td>
                    <td>{{ results.Genexus_Filter_Metrics ?
                        results.Genexus_Filter_Metrics.summary.final_reads.toLocaleString():"--" }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br><br>
    <div class="row-fluid">
        <div class="span12">
            <h2>Samples</h2>
            <template v-if="results.Barcode_Report && results.Barcode_Report.histograms">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Sample Name</th>
                        <th>Barcode</th>
                        <th>Reads</th>
                        <th>Histogram</th>
                    </tr>
                    </thead>
                    <tr v-for="row in results.Barcode_Report.histograms" v-if="!row[0].filtered">
                        <td>{{ row[0].sample_name }}</td>
                        <td>{{ row[0].name }}</td>
                        <td>{{ row[0].read_count.toLocaleString() }}</td>
                        <td></td>
                    </tr>
                </table>
            </template>
        </div>
    </div>
    {% endverbatim %}
{% endif %}


